<div class="header-container">
  <h1><%= t('Debounces') %></h1>
  <% if @debounces.size > 0 && @total_size > @count %>
    <%= erb :_paging, locals: { url: "#{root_path}debounces" } %>
  <% end %>
</div>

<% if @debounces.size > 0 %>
  <form action="<%= root_path %>debounces" method="post">
    <%= csrf_tag %>
    <div class="table_container">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th class="table-checkbox checkbox-column">
              <label>
                <input type="checkbox" class="check_all" />
              </label>
            </th>
            <th><%= t('When') %></th>
            <th><%= t('DebounceKey') %></th>
          </tr>
        </thead>
        <% @debounces.each do |entry| %>
          <tr>
            <td class="table-checkbox">
              <label>
                <input type='checkbox' name='key[]' value='<%= entry.key %>' class='shift_clickable' />
              </label>
            </td>
            <td>
              <a href="<%= root_path %>debounces/<%= ::Base64.urlsafe_encode64(entry.key) %>"><%= relative_time(entry.at) %></a>
            </td>
            <td>
              <a href="<%= root_path %>debounces/<%= ::Base64.urlsafe_encode64(entry.key) %>"><%= entry.key %></a>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
<!--    <input class="btn btn-danger pull-right flip" type="submit" name="delete" value="<%#= t('Delete') %>" />-->
<!--    <input class="btn btn-danger pull-right flip" type="submit" name="add_to_queue" value="<%#= t('AddToQueue') %>" />-->
  </form>
<% else %>
  <div class="alert alert-success"><%= t('NoDebouncesFound') %></div>
<% end %>
